:root {
    --white: #ffffff;
    --green: #adff9b;
    --light-blue: #9bf7ff;
    --black: #2e2e2e;
    --blue: #6ba5ff;
}

body {
    margin: 0px;
    font-family: "Poppins";
    min-height: 100vh;
    background-color: var(--black);
    background-image: url("/img/tokyo_view.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content {
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

.background-animation-1 {
    animation: background-animation-1 0.5s forwards;
}

@keyframes background-animation-1 {
    from {
        background-image: url("/img/tokyo.jpg");
    }
    to {
        background-image: url("/img/tokyo_view.jpg");
    }
}

.background-animation-2 {
    animation: background-animation-2 0.5s forwards;
}

@keyframes background-animation-2 {
    from {
        background-image: url("/img/tokyo_view.jpg");
    }
    to {
        background-image: url("/img/tokyo.jpg");
    }
}

.text-container {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text {
    margin: 0px;
    font-size: 4.5vw;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: var(--green);
    animation: typing 2s;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.secondary-text {
    margin: 0px;
    font-size: 1vw;
    color: var(--white);
}

.button-container {
    margin: 0px;
    display: flex;
    gap: 2vw;
}

.button {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--black);
    border: 0.2vw solid var(--green);
    font-size: 1vw;
    width: 6vw;
    height: 2vw;
    transition: all 0.3s;
}

.button:hover {
    transform: translateY(-0.25vw);
    background-color: var(--green);
    color: var(--black);
    cursor: pointer;
}

.background-button {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--black);
    border: 0.2vw solid var(--light-blue);
    width: 22.6vw;
    height: 2vw;
    font-size: 1vw;
    transition: all 0.3s;
}

.background-button:hover {
    transform: translateY(-0.25vw);
    background-color: var(--light-blue);
    color: var(--black);
    cursor: pointer;
}

.popup {
    margin: 0px;
    position: fixed;
    top: 10%;
    left: -5%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2vw;
    font-size: 1vw;
    min-width: 8vw;
    padding: 0.5vw;
}

.popup-animation {
    animation: popup 2.5s ease-in-out;
}

@keyframes popup {
    0% {
        left: -5%;
    }
    20% {
        left: 50%;
    }
    80% {
        left: 50%;
    }
    100% {
        left: 105%;
    }
}

.weather-box {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    font-size: 1vw;
}

.weather-container {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    border: 0.2vw solid var(--light-blue);
    color: var(--white);
    font-size: 1vw;
    width: 22.6vw;
    height: 8vw;
}

.weather-container p {
    margin: 0px;
}
