@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --black: #181818;
    --white: #ffffff;
    --light-blue: #8ab7ff;
    --dark-blue: #5496ff;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    background-color: var(--black);
    color: var(--white);
}

#particles-js {
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%;
    width: 100%;
}

.up-down-container {
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1dvw;
    height: auto;
    width: auto;
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 1;
}

.arrow-up {
    transform: rotate(90deg);
}

.arrow-down {
    transform: rotate(-90deg);
}

.arrow-up,
.arrow-down {
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
    background-color: var(--light-blue);
    z-index: 1;
}

.arrow-up:hover {
    cursor: pointer;
    transform: rotate(90deg) scale(1.1);
    background-color: var(--dark-blue);
}

.arrow-down:hover {
    cursor: pointer;
    transform: rotate(-90deg) scale(1.1);
    background-color: var(--dark-blue);
}

.up-down-container img {
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 3dvw;
    z-index: 1;
}

.page-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2dvw;
    height: 100dvh;
    width: 100%;
    z-index: 1;
}

.main-title {
    margin: 0;
    padding: 0;
    font-size: 8dvw;
    font-weight: 800;
    line-height: 80%;
    z-index: 1;
}

.secondary-title {
    margin: 0;
    padding: 0;
    font-size: 2dvw;
    font-weight: 500;
    font-style: italic;
    text-decoration: underline var(--light-blue);
    text-underline-offset: 0.2dvw;
    z-index: 1;
}

.links {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1dvw;
}

.links img {
    margin: 0;
    padding: 0;
    filter: brightness(0) invert(1);
    width: 3dvw;
    height: auto;
    object-fit: contain;
    z-index: 1;
    transition: transform 0.2s ease-in-out;
}

.links img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.skills-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
    gap: 1dvw;
    z-index: 1;
}

.skills-title {
    margin: 0;
    padding: 0;
    font-size: 2dvw;
    font-weight: 500;
    z-index: 1;
}

.skills-box {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    padding: 10px;
    gap: 3dvw;
    z-index: 1;
}

.frontend-title,
.backend-title,
.database-cloud-title,
.misc-title {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5dvw;
    text-decoration: underline var(--light-blue);
    text-underline-offset: 0.2dvw;
}

.frontend-skills,
.backend-skills,
.database-cloud-skills,
.misc-skills {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1dvw;
    gap: 5px;
    z-index: 1;
}

.frontend-skills p,
.backend-skills p,
.database-cloud-skills p,
.misc-skills p {
    margin: 0;
    padding: 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-blue);
    color: var(--black);
    transition: background-color 0.1s ease-in-out;
    min-width: 175px;
    z-index: 1;
}

.frontend-skills p:hover,
.backend-skills p:hover,
.database-cloud-skills p:hover,
.misc-skills p:hover {
    background-color: var(--dark-blue);
}

.weather-container {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100%;
    z-index: 1;
}

.constructing {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 2dvw;
    font-weight: 500;
    z-index: 1;
}
