@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --black: #181818;
    --white: #ffffff;
    --light-blue: #8ab7ff;
    --dark-blue: #4d91ff;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    color: var(--white);
    background-color: var(--black);
}

#particles-js {
    margin: 0;
    padding: 0;
    position: fixed;
    height: 100%;
    width: 100%;
}

.page-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(15px, 2dvw, 50px);
    height: 100dvh;
    width: 100%;
}

.name {
    margin: 0;
    padding: 10px;
    background-color: var(--light-blue);
    font-size: clamp(2rem, 8dvw, 10rem);
    font-weight: 800;
    line-height: 80%;
    z-index: 1;
}

.title {
    margin: 0;
    padding: 0;
    font-size: clamp(1rem, 2dvw, 4rem);
    font-weight: 500;
    font-style: italic;
    text-decoration: underline;
    z-index: 1;
    line-height: 80%;
}

.links {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1dvw;
    z-index: 1;
}

.links img {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(40px, 3dvw, 80px);
    height: auto;
    object-fit: contain;
    filter: brightness(0) invert(1);
    z-index: 1;
    transition: transform 0.2s ease-in-out;
}

.links img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.skills-button {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-blue);
    font-size: clamp(1rem, 1.5dvw, 2.5rem);
    font-weight: 500;
    line-height: 80%;
    height: auto;
    width: auto;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

.skills-button:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: var(--white);
    color: var(--light-blue);
}

.skills-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(15px, 2dvw, 50px);
    height: 100dvh;
    font-size: clamp(1rem, 1.5dvw, 2.5rem);
    z-index: 1;
}

.skills-title {
    margin: 0;
    padding: 0;
    font-size: clamp(1rem, 2dvw, 4rem);
    font-weight: 500;
    text-decoration: underline;
}

.skills {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.skills p {
    margin: 0;
    padding: 0;
    background-color: var(--light-blue);
    color: var(--black);
    border-radius: 30px;
    padding: 0 15px;
}

.skill-text-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(375px, 60dvw, 1300px);
    height: auto;
}

.back-button {
    margin: 0;
    padding: 10px;
    background-color: var(--light-blue);
    font-size: clamp(1rem, 1.5dvw, 2.5rem);
    font-weight: 500;
    line-height: 80%;
    height: auto;
    width: auto;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

.back-button:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: var(--white);
    color: var(--light-blue);
}
